[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
SQLAlchemy = "*"
Flask-Login = "*"
Flask-Script = "*"
Flask-Migrate = "*"
mistune = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"
splinter = "*"

[dev-packages]

[requires]
python_version = "3.6"
